<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
  <meta charset="UTF-8">
  <title>Track Results</title>
</head>
<body>
<h1 class="page-header text-center">Track Info</h1>
<div>

  <div class="alert alert-success alert-dismissible show fade" role="alert"> <!-- .fade doesn't seem to work on microsoft edge (Works fine in Chrome) -->
    <strong>Track found!</strong> The information is presented below!
  </div>
</div>
<div class="container">
  <div class="row">
    <h3><label class="col-lg-3 label-info label">Track Name</label></h3>
    <h4><div th:text="${track.getName()}"></div></h4>
  </div>
  <div class="row">
    <h3><label class="col-lg-3 label-info label">Artist</label></h3>
    <h4><div th:text="${track.getArtist()}"></div></h4>
  </div>
  <div class="row">
    <h3><label class="col-lg-3 label-info label">Album</label></h3>
    <h4><div th:text="${track.getAlbum()}"></div></h4>
  </div>
  <div class="row">
    <h3><label class="col-lg-3 label-info label">Genre</label></h3>
    <h4><div th:text="${track.getGenre()}"></div></h4>
  </div>
</div>

</body>
</html>